body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

.eye-container {
    display: flex; /* Alinea los ojos horizontalmente */
}

.eye {
    width: 300px; /* Aumenta el ancho del ojo */
    height: 300px; /* Aumenta la altura del ojo */
    background-color: rgb(0, 145, 19);
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: blink-fast 1s 2s 3 alternate, blink 1s infinite alternate, shrink 1s infinite alternate; /* Ajusta el tiempo de las animaciones */
    margin-right: 40px; /* Espacio entre los ojos */
}

@keyframes blink-fast {
    0%, 100% {
        transform: scaleY(1);
    }
    25% {
        transform: scaleY(0);
    }
}

/* Agrega un nuevo conjunto de keyframes para parpadeo normal */
@keyframes blink-normal {
    0%, 100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
}

@keyframes close-eyes {
    0%, 100% {
        height: 200px; /* Ajusta la altura del párpado */
    }
    50% {
        height: 0;
    }
}

@keyframes move-pupil {
    0%, 100% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, 0);
    }
}

